html, body {
    width: 100%;
    height: 100%;
    font-family: Pixellari;
}

p {
    margin: 0;
}

div {
    /* border: 2px solid black; */
}

body {
    background-color: #fefff0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: auto;
    width: 200px;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#arena {
    display: flex;
}

#arena p {
    display: flex;
    align-items: center;
}

.outcome-msg {
    text-align: center;
}

button {
    font-family: 'Upheaval TT';
    background-color: #fefff0;
}

/* @keyframes slidein {
    from {
        margin-right: 0px;
    }

    to {
        margin-right: 250px;
    }
} */
